<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/list/">List</a>
<br />

<h2>Inserted data</h2>
Name: <span th:text="${person.name}"></span>,
Age: <span th:text="${person.age}"></span>

</body>
</html>