<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/add/">Add</a>
<br />

<h2>List</h2>
<ul th:each="item: ${list}">
    <li th:text="@{${item.name} + ', ' + ${item.age} + ' age'}"></li>
</ul>

</body>
</html>